.prod-container {
    display: flex;
    margin: 1rem 1rem 0 2rem;
    padding-bottom: 1rem;
    overflow-x: auto;
  }
  
  .prod-container::-webkit-scrollbar {
    display: none;
  }
  
  .card-container {
    width: 366px;
    height: 472px;
    background: #FFFFFF;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 0 1rem;
  }
  
  .card-container .card {
    width: 366px;
    height: 458px;
  }
  
  .card-container .card .prod-pic {
    width: 366px;
    height: 305px;
    border-radius: 10px 10px 0px 0px;
  }
  
  .card-container .card .card-body {
    width: 330px;
    height: 88px;
    margin: 0 auto;
  }
  
  .card-container .card .card-body .prod-name {
    width: 300px;
    height: 32px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    /* line-height: 32px;
    letter-spacing: 0.1px; */
    color: #000000;
    /* margin-top: 0; */
    margin: 0rem 0;
  }
  
  .rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.4rem;
  }
  .card-container .card .card-body .rating img {
    width: 106px;
    height: 18px;
  }
  
  .card-container .card .card-body .rating.prices {
    display: flex;
    align-items: center;
  }
  
  .card-container .card .card-body .rating .price .old-price {
    margin: 0;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.1px;
    text-decoration-line: line-through;
    color: #444444;
    margin-right: 0.7rem;
  }
  
  .card-container .card .card-body .rating .price .new-price {
    margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0.1px;
    color: #000000;
  }
  
  
  
  .card-container .card button {
    width: 328px;
    height: 43px;
    margin: 0.6rem 0 0 1rem;
    border: none;
    background: #23A6F0;
    border-radius: 10px;
    margin-top: 0.7rem;
    cursor: pointer;
  } 
  
  .card-container .card button h3 {
    width: 145px;
    height: 32px;
    margin: 0 auto;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
  }